<div class="form">
    <% if Helpers.is_logged_in?(session) %>
    <%= flash[:edit_error] %>
        <form method="post" action="/posts/new">
            <label for="muse">Muse:</label><br>
            <input list="muses" name="muse" value="<%= @muse.name %>">
            <datalist id="muses">
                <% @muses.each do |muse| %>
                    <option value="<%= muse.name %>">
                <% end %>
            </datalist>
            <label for="title">Title:</label><br>
            <input name="title" type="text" value="<%= @post.title %>" /><br>
            <label for="content">Content:</label><br>
            <textarea name="content" rows="4" cols="50"><%= @post.content %></textarea><br>
            <input type="submit" value="Submit">
        </form>
    <% else %>
        <h1>You Must Be Logged in to Edit Muses</h1>
        <a href="/login">Log In Here!</a>
    <% end %>
</div>