<div class="">
    <a href="/post/new">New Post</a>
</div>
<div class="posts">
    <!-- This will show all posts made by the users and any posts of other users that they follow -->
    <% Helpers.current_user(session).muses.each do |muse| %>
        <a href="/muses/<%= muse.id %>"><%= muse.name %></a>
    <% end %>
    <% if !(@posts.empty?) %>
    <% @posts.each do |post| %>
        
        <div class="post">
            <h3><%= post.title %></h3>
            <p><%= post.content %></p>
            <% if Helpers.is_logged_in?(session) && (Helpers.current_user(session).id.equal?(post.user_id)) %>
                <a href="/post/edit/<%= post.id %>">Edit</a>
                <form method="post" action="/post/<%= post.id %>">
                    <input id="hidden" type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" />
                </form>
            <% end %>
        </div>
    <% end %>
    <% end %>
</div>